body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
.head-navigation {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background: #99cc99;
	list-style: none;
	margin: 0;
	padding: 0;
	top: -30px;
	transition: all .4s;
	color: white;
	&:hover{
		top: 0;
	}
	li{
		padding: 10px 10px;
		transition: all .4s;
		cursor: pointer;
		&:hover{
			background: #613d2e;
		}
	}
}

.head-content{
	background-image: url(../img/img.png);
	background-position: center;
	background-size: cover;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    article{
    	height: 100vh;
    	display: flex;
    	justify-content: space-around;
    	align-items: center;
    	margin: auto;
    	@media screen and (max-width: 520px){
			flex-flow: row wrap;
    	}
    }
    .head-image {
    	position: relative;
    	align-self: flex-end;
    	@media screen and (max-width: 520px){
    		height: 275px;
    		width: 320px;
    	}
    	.phone-img{
    		position: absolute;
    		background-image: url(../img/img.png);
    		background-position: center;
    		background-size: cover;
    		border-radius: 2px;
		    width: 163px;
		    height: 243px;
		    left: 65px;
		    top: 67px;
    	}
    }
    .head-text{
    	color: white;
    	width: 300px;
    	@media screen and (max-width: 520px){
    		text-align: center;
    	}
    }
    .head-container-icons{
    	position: relative;
		.ico{
			position: relative;
			background-image: url(../img/icons.png);
			width: 70px;
			height: 70px;
			border-radius: 50%;
			display: inline-block;
			background-size: 250px;
		    background-color: rgba(0, 0, 0, 0.41);;
		    background-repeat: no-repeat;
		    cursor: pointer;
		    &:hover{
	    	    background-color: black;
		    }
		}
		.head-ico1{
		    background-position: 19px 13px;
		}
		.head-ico2{
			background-position: -91px 13px;
		}
		.head-ico3{
			background-position: -194px 13px;
		}
    }
}

